<% content_for :title, 'Customers' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Store Credit</th>
      <th># of Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.full_name, customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.store_credit %></td>
        <td><%= customer.orders_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
