<% content_for :title, "#{@customer.full_name}'s Order History" %>

<table>
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Shipping Date</th>
      <th>Status</th>
      <th>Payment Method</th>
      <th>Payment Status</th>
      <th># of Products</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% lifetime_value = 0.0 %>
    <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.date_created %></td>
        <td><%= order.date_shipped %></td>
        <td><%= order.status %></td>
        <td><%= order.payment_method %></td>
        <td><%= order.payment_status %></td>
        <td><%= order.product_count %></td>
        <td><%= number_to_currency(order.total_inc_tax) %></td>
        <td><% lifetime_value +=  order.total_inc_tax&.to_f %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><strong>Lifetime Value</strong></td>
      <td><strong><%= number_to_currency(lifetime_value) %></strong></td>
    </tr>
  </tbody>
</table>
